<!DOCTYPE html>
<html>
  <head>
    <title>Catgarden</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.jpg" type="image/jpg">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>